.btnGrad {
  transition: 0.5s;
  background-color: #02aab0;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  display: block;
}

.btnGrad:active {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}

.btnGrad:hover {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}
