.btnGrad {
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    display: block;
  }
  
  .btnGrad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
  }